@{
    ViewBag.Title = "Change Password";
    //Layout = "~/Views/Shared/_Layout.mobile.cshtml";
}

@*<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    
    <h4>Your password has been changed.</h4>
</hgroup>*@

<fieldset>
    <legend>Congratulations</legend>
    <h4>Your password has been changed!</h4>
</fieldset>